/* WP 3.8 Admin Bar Tweaks */

/* Add icons */

#wp-admin-bar-mla-link .ab-item:before {
  top: 2px;
  z-index: 20;
  font: 400 20px/1 dashicons!important;
  content: "\f102";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wp-admin-bar-mla-search .ab-item:before {
  top: 2px;
  z-index: 20;
  font: 400 20px/1 dashicons!important;
  content: "\f179";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wp-admin-bar-mla-group-breadcrumb .ab-item:before { 
  top: 2px;
  z-index: 20;
  font: 400 20px/1 dashicons!important;
  content: "\f307"; /* "People" icon */ 
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

#wp-admin-bar-bp-login .ab-item:before {
  top: 2px;
  z-index: 20;
  font: 400 20px/1 dashicons!important;
  content: "\f112";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Hover state */

#wpadminbar .ab-top-menu>li>.ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar .ab-top-menu>li:hover>.ab-item, #wpadminbar .ab-top-menu>li.hover>.ab-item {
  background: #c00;
  color: #fff;
}

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before {
  color: #fff;
}


/* Hide superfluous log out link */
#wp-admin-bar-wpa-logout {
  display: none !important;
}

/* "Me" Menu Avatar */ 
#wpadminbar .avatar.avatar-28 { 
	width: 21px; 
	height: auto; 
	border: 1px solid #444; 
	border-radius: 3px; 
	/* These next two lines fix alignment issues */ 
	vertical-align: top; 
	margin-top: 4px; 
} 

#wpadminbar #wp-admin-bar-mla-bp-notifications .pending-count { 
	background-color: #07d; 
	border-radius: 3px; 
	padding: 2px 5px; 
} 
#wpadminbar #wp-admin-bar-mla-bp-notifications .no-alert { 
	background-color: #444; 
	border-radius: 3px; 
	padding: 2px 5px; 
} 
